@import url('https://fonts.googleapis.com/css2?family=Fasthand&display=swap');

* {
    margin: 0;
    padding: 0;
}

header {
    height: 20vh;;
    background-image: url("https://i.pinimg.com/564x/85/4b/ed/854bed59414df3b899f8f6ba50efe096.jpg") ;
  
}


main {
    background-color: rgb(94, 65, 87);
    height: 100vh;
}

#tituloDaPag {

    font-family: 'Fasthand', cursive;
    text-align: center;
    font-size: xxx-large ;
    color: rgb(52, 6, 46);
    /* todos esses posso colocar só de um lado exemplo padding-left */
    padding: 30px;
   ;
   
}

.tituloDois {
    padding: 5px;
    text-align: center;
    
}

section {
    padding: 20px;
    border: solid 1px  ;
    text-align: center;
        color: rgb(254, 206, 250);
}

#gif {
    margin: 30px;
    padding: 20px;
}


.humor {
    color: aliceblue;
}

#descricao {
    margin: 30px;
    padding: 50px;
    color: rgb(254, 206, 250);
}

#flex-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 30px;
    padding: 30px;
    color: rgb(254, 206, 250);
    padding: 5px;
  }

  #button {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  footer {
    background-color: rgb(94, 65, 87);
    text-align: center;
    color: aliceblue;
  }